@font-face {
    font-family: "Chalkboard";
    src: url("@/fonts/Chalkboard.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DynaComware Handwriting";
    src: url("@/fonts/华康手札体w5.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kaiti";
    src: url("@/fonts/华文楷体.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: "MeituanType";
//     src: url("@/fonts/meituantype-Light.ttf") format("truetype");
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: "MeituanType";
//     src: url("@/fonts/meituantype-Regular.ttf") format("truetype");
//     font-weight: 400;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: "MeituanType";
//     src: url("@/fonts/meituantype-Bold.ttf") format("truetype");
//     font-weight: 700;
//     font-style: normal;
//     font-display: swap;
// }