#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.card {
    padding: 2em;
}

.visit-my-profiles {
    color: #888;
}

.language-toggle-container {
    position: absolute;
    top: 1rem;
    right: 2rem;

    button {
        width: 90px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
    }
}
