@font-face {
    font-family: "Chalkboard SE";
    src: url("./Chalkboard-SE.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DynaComware Handwriting";
    src: url("./华康手札体w5.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kaiti";
    src: url("./华文楷体.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: "MeituanType";
//     src: url("./meituantype-Light.ttf") format("truetype");
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: "MeituanType";
//     src: url("./meituantype-Regular.ttf") format("truetype");
//     font-weight: 400;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: "MeituanType";
//     src: url("./meituantype-Bold.ttf") format("truetype");
//     font-weight: 700;
//     font-style: normal;
//     font-display: swap;
// }
